* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-y: hidden;
}

.contenedorJuegoDoblesAnimales {
  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuadradoCasaRaton {
  width: 50px;
  height: 50px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  right: 98.5%;

  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotateY(60deg);
}

.animales {
  position: absolute;
  width: 100px;
  height: 100;
  bottom: 0;

  animation-duration: 25s;
  animation-name: slider;
  animation-iteration-count: infinite;
}

@keyframes slider {
  from {
    right: 0%;
  }

  to {
    right: 100%;
  }
}

h1 {
  margin-top: 0;

  font-family: "Patrick Hand", cursive;
  font-size: 70px;
  color: #ffffff;
  letter-spacing: 5px;
}

p {
  font-family: "Patrick Hand", cursive;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.contenedorDos {
  display: none;
  width: 780px;
  height: 512px;
  padding: 2px;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 7px;
}

.cuadrado {
  width: 175px;
  height: 145.1px;
  margin: 2px;
  background: #ff8008; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: inline-flex;

  border-radius: 5px;
}

.cuadrado:hover {
  cursor: pointer;

  background: #eb3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f45c43,
    #eb3349
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img {
  width: 100%;
  height: auto;
}

/* From uiverse.io by @abrahamcalsin */
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
  cursor: pointer;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.timer {
  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 85%;

  padding: 10px;
  border-radius: 4px;

  display: none;
}

#cuenta_atras {
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 5px;
}

/* FIN CSS DE JUEGO DOBLES ANIMALES **************************************************************** */

.paginaPrincipal {
  height: 100vh;
  width: 100%;

  background-image: url("../imagenes/Gamingbanner_generated.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}

.paginaPrincipal .nieve {
  width: 50%;
  height: 500px;
  position: absolute;
  top: 0;
}

.paginaPrincipal .y3il {
  width: 150px;

  bottom: 0px;
  position: absolute;

  animation-duration: 25s;
  animation-name: correr;
  animation-iteration-count: infinite;
}

@keyframes correr {
  from {
    left: 0%;
  }

  to {
    left: 90%;
    opacity: 0;
  }
}

.contenedorCajaJuegos {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #000000,
    #000658
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #000000,
    #000658
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 1000px;

  margin: 0;
  padding: 95px;
  display: flex;
  justify-content: space-evenly;
}

/* CARTA JUEGO UNO */

/* From uiverse.io by @Tiagoadag */
.cardUno {
  width: 400px;
  height: 250px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card2 {
  width: 400px;
  height: 250px;
  background-color: #1a1a1a;
  border-radius: 18px;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card2 img {
  width: 300px;
  border-radius: 25px;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
  cursor: pointer;
}

.cardUno:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.jugarAhora {
  padding: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.jugarAhora button {
  width: 140px;
  height: 40px;
}

.jugarAhora button span {
  font-size: 8px;
}

.jugarAhora p {
  font-size: 15px;

  padding: 0;
  margin: 0;
}

.jugarAhora h2 {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

/* // FIN CARTA JUEGO UNO */

.cardDos {
  width: 400px;
  height: 250px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.cardDos .cardDosImg {
  width: 300px;
  height: 150px;
}

/* ESTILOS PARA BOTON BAJAR */

/* From uiverse.io by @mrhyddenn */
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;

  top: 200px;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrons h2 {
  color: white;
  margin-top: 15px;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

/* FIN ESTILOS BOTON BAJAR */
